@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #6da7ff;
    padding: 0.4rem;
    text-align: center;
}

main {
    padding: 1rem;
    gap: 2em;
    display: flex;
    flex-direction: column;
    width: 90%;
}

section {
    margin-bottom: 2rem;
}

nav {
    width: 100%;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}



/* Welcome Section Styles */
.welcome-section {
    text-align: center;
}

.welcome-section h2 {
    margin-top: -40px;
}

.welcome-section p {
    margin-bottom: 10px;
    line-height: 1.6;
}

