@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --bg-linear-purple: linear-gradient(90deg, rgba(151, 128, 229, 1) 0%, rgba(230, 102, 204, 1) 100%);
    --bg-linear-blue: linear-gradient(90deg, rgba(126, 218, 227, 1) 0%, rgba(151, 128, 229, 1) 100%);

    --bg-linear-blue-animation: linear-gradient(110deg, rgba(126, 218, 227, 1) 0%, rgba(151, 128, 229, 1) 50%, rgba(126, 218, 227, 1) 100%);
    --bg-linear-blue-to-purple-animation: linear-gradient(110deg, rgba(126, 218, 227, 1) 0%, rgba(151, 128, 229, 1) 25%, rgba(230, 102, 204, 1) 75%, rgba(126, 218, 227, 1) 90%, rgba(126, 218, 227, 1) 100%);

    --bg-light-gray: #2b2b2b;
    --off-white: #e6e4de;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    50% {
        background-position: -100% center;
    }

    100% {
        background-position: -200% center;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1d;
    color: var(--off-white);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

header {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: var(--off-white);
    padding: 0.4rem;
    text-align: center;
}

.main-title-container {
    text-align: center;
}

.main-title-container span {
    background: var(--bg-linear-blue-to-purple-animation);
    animation: background-pan 1.5s linear infinite;
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;

}

main {
    padding: 1rem;
    gap: 1em;
    display: flex;
    flex-direction: column;
    width: 90%;
}

p {
    font-size: 1.2em;
}

section h2 {
    margin-bottom: 0.6em;
}

nav {
    width: 100%;
}

input {
    margin: 0.35em 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #333;
    transition: top 0.3s ease-in-out; /* Transição suave para a posição top */
    position: fixed; /* Navbar fixa no topo */
    top: 0; /* Inicialmente no topo */
    z-index: 1000; /* Sobrepor outros elementos */
}


.navbar a {
    color: var(--off-white);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.options-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.link-to {
    text-decoration: none;
    color: inherit;
    width: 90%;
    height: 80px;
    background-color: var(--bg-light-gray);
    border-radius: 20px;
    line-height: 1.6;
    padding: 0.8rem;
    transition: all 0.2s ease-in-out;
}



.fa-bars-progress {
    background: var(--bg-linear-purple);
}

.fa-grip {
    background: var(--bg-linear-blue);
}

.fa-solid {
    font-size: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.link-to-flex {
    border: 2px solid #9780e5;
}

.option-container-flex h3 {
    background: var(--bg-linear-purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-to-grid {
    border: 2px solid #7EDAE3;
}

.option-container-grid h3 {
    background: var(--bg-linear-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link-to:hover {
    background-color: #3f3f3f;
    cursor: pointer;
}

/* Welcome Section Styles */
.welcome-section {
    text-align: center;
}


.welcome-section p {
    margin-bottom: 10px;
    line-height: 1.6;
}

footer {
    width: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    align-items: center;
}

footer hr {
    color: var(--off-white);
    width: 100%;
}

footer span {
    font-size: 1em;
    background: var(--bg-linear-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer i {
    font-size: 2em;
    transition: all 0.2s ease-in-out;
}

footer i:hover {
    transform: scale(1.1);
    animation: background-pan 1.5s linear infinite;
    background: var(--bg-linear-blue-animation);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    cursor: pointer;
}

footer a {
    color: inherit;
}

@media (min-height: 481px) {
    .main-title-container span {
        font-size: 3rem;
    }

    .main-title-container h1 {
        font-size: 2.4rem;
    }
}

@media (min-width: 768px) {
    .main-title-container span {
        font-size: 5rem;
    }

    .main-title-container h1 {
        font-size: 3rem;
    }

    .link-to {
        font-size: 1.2rem;
        height: 100px;
        padding: 1.3rem;
    }

    .link-to i {
        font-size: 1.7rem;
    }
}

@media (min-width: 768px) {
    .content-container {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1249px) {
    .content-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: center;
    }
}